html,
body,
#map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.search-container {
    border: 1px solid black;
    height: 200px;
    width: 300px;
    flex-wrap: wrap;
    float: inline-start;
}